h1 {
    color: gold;
}

* {
    border: inset;
    border-color: black;
}
.header{
    
    display:flex;
    justify-content: center;
    align-items: center;
}
.hero{
    
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.rock{
    
  
    margin-right: 10px;
   margin-left:900px ;
  
}
body{
 
    background-image: url("https://img.freepik.com/free-vector/galaxy-earth-sun-stars-outer-space-realistic-horizontal-illustration_162137-10.jpg?size=626&ext=jpg");
    border-image-width: 100%;
}